.container {
  max-width: 1440px;
  padding: 0 $container-padding;
  margin: 0 auto;
}

@include mobile {
  .container {
    max-width: 98%;
    margin: 0 auto;
  }
}

@include mobile-large {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}

@include tablet {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}

// @include mobile {
//   .container {
//     max-width:100%;
//     margin: 0 ;
//   }
// }
