.event {
  margin-top: 69px;
  &__wrapper {
    display: flex;
    gap: 20px;
  }

  .image-section img {
    max-width: 500px;
    border-radius: 10px;
    object-fit: cover;
  }

  .content-section {
    flex: 1;
    padding-left: 20px;
  }

  .date {
    color: #d3a562;
    font-size: 14px;
  }

  .title {
    font-size: 42px;
    margin-top: 0;
    color: #333333f6;
    font-weight: bold;
  }

  .subtitle {
    font-size: 18px;
    margin: 14px 0;
    color: #555;
  }

  .data__wrapper {
    display: grid;
    grid-template-columns: 65% 25%;
    align-items: center;
    gap: 30px;
  }
  .description {
    font-size: 19px;
    color: #322e29;
    line-height: 1.6;
    margin: 14px 0;
    font-weight: 400;
  }

  .more-btn {
    background-color: #ff8c42;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .more-btn:hover {
    background-color: #ff7b29;
  }
}

@include tablet {
  .event {
    &__wrapper {
      flex-direction: column-reverse;
    }
    .title {
      font-size: 27px;
    }
    .description {
      font-size: 15px;
    }
    button {
      display: none;
    }
    .data__wrapper {
      display: block;
    }
    .image-section {
      img {
        width: 100%;
      }
    }
  }
}
