.btn {
    padding: 10px 24px;
    background-color: #D3A562;
    color: azure;
    border-radius: 22px;
 
font-size: 19px;
font-weight: 400;
padding-bottom: 13px;
transition: 1.2s;


}

.btn:hover {
    background-color: #e4602b;

}